body{
  font-family: 'Dosis', sans-serif;
  margin:auto;
  background-image: url("https://cdn02.plentymarkets.com/2brofzsczyt8/item/images/184030/full/Tapete-Kinder-Punkte-Muster-rosa-gold-Metallic-3_1.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

h1{
  text-align: center;
  font-size: 50px;
  padding: 0;
  margin: 10px;
}

nav{
  position: sticky;
  top: 0;
}
ul {
  padding: 0;
  margin:auto;
  list-style-type: none;
  background-color: rgba(0,0,0,0.3);
  overflow: hidden;
  width:100%;
}

li{
  float: left;
  width: 20%;
}
li a{
  display:block;
  padding: 8px 16px;
  margin: auto;
  text-decoration: none;
  text-align: center;
  color:rgba(0,0,0,1);
  font-size: 20px;
}

li a:hover{
  background-color: rgba(0,0,0,0.4);
  color: rgba(0,0,0,1);
}

#active{
  background-color: rgba(0,0,0,0.4);
}

.w-100{
  width:auto;
}
/*recipe section*/
			.container {
