body{
  font-family: 'Dosis', sans-serif;
  margin:auto;
  background-image: url("https://cdn02.plentymarkets.com/2brofzsczyt8/item/images/184030/full/Tapete-Kinder-Punkte-Muster-rosa-gold-Metallic-3_1.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.title{
  font-size: 80px;
}

h1{
  text-align: center;
  font-size: 50px;
  padding: 0;
  margin: 10px;
}

nav{
  position: sticky;
  z-index: 20;
  top: 0;
}
ul {
  padding: 0;
  margin:auto;
  list-style-type: none;
  background-color: rgba(0,0,0,0.3);
  overflow: hidden;
  width:100%;
}

dl, ol, ul{
  margin-bottom: 0rem!important;
}

li{
  float: left;
  width: 20%;
}
li a{
  display:block;
  padding: 8px 16px;
  margin: auto;
  text-decoration: none;
  text-align: center;
  color:rgba(0,0,0,1);
  font-size: 20px;
}

li a:hover{
  background-color: rgba(0,0,0,0.4);
  color: rgba(0,0,0,1);
  text-decoration: none;
}

#active{
  background-color: rgba(0,0,0,0.4);
}

.welcome{
  text-align: left;
  font-size: 60px;
}
.dinner{
  width: 50%;
  margin-right: 20px;
  float: left;
}
.first{
  margin: 150px 200px 0px 200px;
  padding-bottom: 50px;
}
.second{
  margin: 100px 200px 200px 200px;
  padding-top: 50px;
  border-top-style: dashed;
  border-top-width: medium;
  border-top-color: gray;
}
.next{
  text-align: right;
  font-size: 60px;
}
.yorkshire{
  width:50%;
  margin-left: 20px;
  float:right;
}
img{
  border-radius: 5%;
}

p{
  font-size: 20px;
}


.footer {
  position: inherit;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  text-align: center;
}

.fa{
  padding: 10px;
  width: 70px;
}
/*recipe section*/
			.container {
